body {
    background-image: url('https://github.com/DevonMartens/pokemon-fight/blob/main/assets/images/gameboy.png?raw=true');
    /* background-size:contain; */
    height: 100%;
    width: 100%;
    padding-top: 66,64%; 
    background-repeat: repeat-x;
  } 