body {
    background-image: url('');
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;
    background-position: center;
  } 

  /* Top Banner Area */
}
.banner {
    height: calc(100vh + 88.88px);
    background-image: url("https://github.com/DevonMartens/pokemon-fight/blob/main/assets/images/pokemon.pg.png?raw=true");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    background-color: black;
}



.banner-title {
    position: absolute;
    top: 25%;
    z-index: 3;
    text-align: center;
    width: 100%;
}

.banner-name {
    color: rgb(242, 88, 88);
}

.banner-title h1 {
    color:black;
}
.jumbotron {
    margin: 4%;
    /* background: yellow; */
}

#rules {
     
    }