body {
    background-image: url('https://media2.giphy.com/media/W04QVzelTHsNW/giphy.gif?cid=ecf05e47zbtb4q4m2he8oaoabxte3iqngpaojleh4oaf5bq2&rid=giphy.gif');
    background-size:contain;
    height: 100%;
    width: 100%;
    padding-top: 66,64%; 
  } 

  /* Top Banner Area */

.banner {
    height: calc(100vh + 88.88px);
    background-image: url("https://github.com/DevonMartens/pokemon-fight/blob/main/assets/images/pokemon.pg.png?raw=true");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    background-color: black;
}



.banner-title {
    position: absolute;
    top: 25%;
    z-index: 3;
    text-align: center;
    width: 100%;
}

.banner-name {
    color: rgb(242, 88, 88);
}

.banner-title h1 {
    color:black;
}
.jumbotron {
    margin: 4%;
    color: rgb(231,192,39);
    background-color:#dc3446;
    /* background: yellow; */
}

#rules {
     
    }